h1 {
    font-family: impact;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    color: rgba(255, 255, 255, 0.9);

}

body {
    background: linear-gradient(90deg, gray, black, white);
    background-size: auto;
    /* Adjust the size of the stripes as needed */
}