html {
    background-color: #2ecc71;
}

h1 {
    font-family: IMPACT;
    background-color: #3498db;
}

h2 {
    font-family: impact;
    text-align: center;
    font-size: 200%;
}

h3 {
    font-family: impact;
    text-align: center;
    background-color: #f39c12;
    font-size: 150%;
}

p {
    padding: auto;
    border: 5px;
    border-radius: 1px;
    border-width: 2px;
    background-color: #3498db;
}