html {
    border: 20px;
    border-radius: 1px;
    background-color: #808080;
    color: white;

}

h1 {
    font-family: IMPACT;
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

h2 {
    font-family: impact;
    text-align: center;
    font-size: 200%;
    background-color: #000000;
    color: white;
}

h3 {
    font-family: impact;
    text-align: center;
    background-color: #000000;
    font-size: 150%;
    padding: 20px;
}

p {
    padding: auto;
    border: 5px;
    border-radius: 1px;
    border-width: 2px;
    background-color: #000000;
}